/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
:root {
  --darkblue: #010355;
  --blue: #0056d6;
  --mauve: #290260;
  --carte: #f7f2d2;
  --textTitre: "Gugi", cursive;
  --orange: rgb(194, 113, 6);
}

html,
body {
  background-color: var(--darkblue);
  overflow-x: hidden;
}

header {
  content: normal;
}
/* Bouton retour pour la page artwork.html*/
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: greenyellow;
}

.fa:hover {
  color: rgb(8, 155, 212);
}

.fa:hover::after {
  position: absolute;
  color: rgb(8, 155, 212);
  content: "Donner un J'aime";
  font-size: 20px;
}

.fa-thumbs-down {
  color: red;
}

a {
  display: inline-block;
}

li {
  list-style-type: none;
  color: white;
  border-radius: 5px;
}

li a {
  padding: 2px;
  border-radius: 10px;
}
li a:hover {
  background-color: var(--orange);
}

nav {
  background-color: var(--blue);
  color: white;
}
/* Styles cartes*/

.card {
  background-color: var(--carte);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.card:hover {
  border: solid var(--blue) 3px;
}

.link {
  color: rgb(5, 96, 201);
  font-weight: bolder;
  transition: 0.3s;
}

.link:hover {
  color: rgb(92, 168, 255);
}
.carte {
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artist {
  border-radius: 50%;
}

#small-text {
  font-size: 12px;
}

.navbar-toggler-icon:hover {
  background-color: white;
}

.navbar-toggler-icon:active {
  background-color: var(--orange);
}

.Title {
  margin: 20px;
  content: normal;
  font-family: var(--textTitre);
  color: var(--orange);
  font-size: 25px;
}

#section {
  width: 140%;
}

.loupe {
  position: absolute;
  padding: 5px;
  z-index: 1;
}
.logo {
  border-radius: 15px;
}

footer {
  content: normal;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--mauve);
  color: white;
  border-radius: 15px;
}

/*---------------------------------------------------------- 
    # Section Hero  
    ----------------------------------------------------------*/
