/*----------------
#Styles Généraux
------------------*/
* {
  box-sizing: border-box;
}
* {
  outline: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/*-------------------------------
 # Section palette de couleurs 
 --------------------------------*/

:root {
  --primary: #ff7f00;
  --secondary: #0b0b53;
  --third: white;
  --fourth: #3c3c76;
  --fifth: black;
  --font_01: Montserrat;
  --font_02: overpass;
}
/*------------------
 # Section fontes 
 -------------------*/
 

/*-----------------
 # Section Header 
 ------------------*/

main {
  width: 100%;
}
.navbar {
  height: 130px;
  background-color: var(--secondary);
}
.logo {
  height: 75px;
  width: 75px;
  border-radius: 20px;
}
.nav-link {
  color: var(--third);
  margin-left: 30px;
  font-family: var(--font_01);
  font-weight: 500;
}

/*--------------- 
# Section Hero 
-----------------*/

#mainHero {
  width: 100%;
  padding-top: 130px;
}
#titre_fonctionalite {
  width: 100%;
}
#titre_testimonial {
  width: 100%;
}
.title {
  font-family: var(--font_01);
  font-weight: bolder;
  color: var(--fourth);
}
.fonctions {
  font-family: var(--font_01);
  color: var(--fourth);
  font-weight: bolder;
}
.contexte {
  font-family: var(--font_02);
  font-weight: 500;
  color: var(--fifth);
}
.section-features {
  background-color: rgb(231, 225, 225);
}
#services {
  width: 100%;
}
#temoignages {
  margin-left: 5px;
  margin-right: 5px;
}
.temoins {
  height: 23vh;
  object-fit: cover;
}
.nom {
  font-family: var(--font_01);
  color: var(--fourth);
  font-weight: bolder;
}
.quote {
  font-family: var(--font_02);
  color: var(--fifth);
  font-weight: 500;
}
.card {
  border: none;
}
.enonce {
  font-family: var(--font_02);
  color: var(--fourth);
}
.enonce_02 {
  font-family: var(--font_02);
  color: var(--fourth);
}
.premier-texte {
  font-weight: 900;
  font-size: 35px;
}
.second-texte {
  font-weight: 700;
}
.titre {
  font-weight: bolder;
  font-size: 50px;
}
.app {
  margin-top: 20px;
  aspect-ratio: 5/9;
}
.btn1 {
  color: var(--primary);
  border-color: var(--primary);
  font-weight: 500;
}
.btn1:hover {
  background-color: var(--primary);
  border: var(--primary);
}
.bi-table {
  font-size: 40px;
  color: var(--fourth);
}
.bi-chat-square-quote-fill {
  position: absolute;
  left: 80px;
  top: 228px;
  font-size: 25px;
  color: var(--secondary);
}
.card-testimonial {
  background-color: rgb(234, 229, 229);
}
.bi-calendar3 {
  font-size: 40px;
  color: var(--fourth);
}
.bi-postcard {
  font-size: 40px;
  color: var(--fourth);
}
.bi-shop {
  font-size: 40px;
  color: var(--fourth);
}
.bi-geo-fill {
  font-size: 40px;
  color: var(--fourth);
}

.bi-joystick {
  font-size: 40px;
  color: var(--fourth);
}
h4 {
  font-family: var(--font_01);
  color: var(--fifth);
  font-weight: bolder;
}
.txt-fontionalite {
  font-family: var(--font_02);
  color: black;
}
/*------------------------------- 
# Section Footer(Pied de page) 
--------------------------------*/

.bd-footer {
  background-color: var(--secondary);
  height: 143px;
  width: 100%;
  font-family: var(--font_01);
  font-weight: 500;
}
.artisans {
  color: var(--third);
}
#btn2 {
  color: var(--third);
  padding: 0;
}
#btn2:hover {
  color: var(--primary);
}
#btn2:link {
  color: var(--third);
}
