:root {
  --darkblue: #010355;
  --blue: #0056d6;
  --mauve: #290260;
  --carte: #f7f2d2;
  --textTitre: "Gugi", cursive;
  --orange: rgb(194, 113, 6);
  --font_01: Montserrat;
  --font_02: overpass;
}
/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

html,
body {
  background-color: var(--darkblue);
  overflow-x: hidden;
  font-family: var(--font_02);
}

header {
  content: normal;
}

/* Bouton retour pour la page artwork.html*/

button .bi {
  color: white;
}

.nav-link {
  color: white;
  margin-left: 30px;
  font-family: var(--font_01);
  font-weight: 500;
}

.bg-image {
  background: url("../assets/Assets_cards/Elektra.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 33vh;
}

.bi {
  color: black;
  font-weight: bolder;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: greenyellow;
  transition: 0.2s;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
}

.fa:hover {
  color: rgb(8, 155, 212);
}

.fa:hover::after {
  position: absolute;
  color: rgb(8, 155, 212);
  font-family: Arial, Helvetica, sans-serif;
  content: "";
  font-size: 20px;
}

.fa-thumbs-down {
  color: red;
}

.bg-warning {
  border-radius: 15px;
}

.btn {
  border: solid var(--orange) 2px;
}

.btn-send {
  border: solid green 1px;
}

.btn-send:hover {
  background-color: green;
}

.btn:hover {
  color: white;
}
/* Styles cartes*/

.card {
  background-color: var(--carte);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.card-img-top {
  min-height: 20vh;
  max-width: 100%;
}

a cardlink {
  font-family: var(--font_01);
}

.card:hover {
  border: solid var(--blue) 3px;
}

.link {
  color: rgb(5, 96, 201);
  font-weight: bolder;
  transition: 0.3s;
}

.link:hover {
  color: rgb(92, 168, 255);
}

.carte {
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .artiste {
  height: 15%;
  margin-left: auto;
  margin-right: auto;
}

.artist {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#small-text {
  font-size: 12px;
}

.navbar-toggler-icon:hover {
  color: white;
  transition: 0.5s ease-in-out;
}

.Title {
  margin: 20px;
  content: normal;
  font-family: var(--font_01);
  color: var(--orange);
  font-size: 25px;
}

#section {
  width: 140%;
}

.bg-transparent .nav-background {
  height: 33%;
}

.container .bg-light {
  border-radius: 15px;
}

.accordion-button {
  background-color: var(--orange);
}

.artiste {
  object-fit: cover;
}

.loupe {
  position: absolute;
  padding: 5px;
  z-index: 1;
}

.logo {
  border-radius: 15px;
}

/*---------------------------------------------------------- 
    # Modal Windows
    ----------------------------------------------------------*/
.modal {
  border: solid rgb(144, 0, 255) 4px;
}

.modal-body {
  border-radius: 15px;
  background-color: #f3eb90;
}

/*---------------------------------------------------------- 
    # Section Hero  
    ----------------------------------------------------------*/
footer {
  content: normal;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--mauve);
  color: white;
  border-radius: 15px;
}

a {
  display: inline-block;
}

li {
  list-style-type: none;
  color: white;
  border-radius: 5px;
}

li a {
  padding: 2px;
  border-radius: 10px;
}

li a:hover {
  background-color: var(--orange);
}

nav {
  background-color: var(--blue);
  color: white;
}

/*--------------------------------------------------------- 
# Styles du carroussel
---------------------------------------------------------*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
