/*----------------
#Styles Généraux
------------------*/
* {
  box-sizing: border-box;
}
* {
  outline: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/*-------------------------------
 # Section palette de couleurs 
 --------------------------------*/

:root {
  --primary: #ff7f00;
}
:root {
  --secondary: #0b0b53;
}
:root {
  --third: white;
}
:root {
  --fourth: #3c3c76;
}
:root {
  --fifth: black;
}

/*------------------
 # Section fontes 
 -------------------*/

:root {
  --font_01: Montserrat;
}
:root {
  --font_02: overpass;
}

/*-----------------
 # Section Header 
 ------------------*/

main {
  width: 100%;
  height: 100%;
}
.navbar {
  height: 130px;
  background-color: var(--secondary);
}
.logo {
  height: 75px;
  width: 75px;
  border-radius: 20px;
}
.nav-link {
  color: var(--third);
  margin-left: 30px;
  font-family: var(--font_01);
  font-weight: 500;
}

/*--------------- 
# Section Hero 
-----------------*/

#hero {
  width: 100%;
  position: relative;
  top: 130px;
}
.énoncé {
  position: relative;
  top: 200px;
  font-family: var(--font_02);
  color: var(--fourth);
}
.premier-texte {
  font-weight: 900;
  font-size: 35px;
}
.second-texte {
  font-weight: 700;
}
.titre {
  font-weight: bolder;
  font-size: 50px;
}
.app {
  margin-top: 37px;
  max-width: 400px;
  aspect-ratio: 5/9;
}
.btn1 {
  color: var(--primary);
  border-color: var(--primary);
  font-weight: 500;
}
.btn1:hover {
  background-color: var(--primary);
  border: var(--primary);
}

/*------------------------------- 
# Section Footer(Pied de page) 
--------------------------------*/

.bd-footer {
  position: absolute;
  top: 1650px;
  background-color: var(--secondary);
  height: 143px;
  width: 100%;
  font-family: var(--font_01);
  font-weight: 500;
}
.artisans {
  color: var(--third);
}
#btn2 {
  color: var(--third);
  padding: 0;
}
#btn2:hover {
  color: var(--primary);
}
#btn2:link {
  color: var(--third);
}
